.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid green;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
}

.grid-square {
    /* border: 1px solid blue; */
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}

.hovered {
    background-color: black;
}