.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid green;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
}

.grid-square {
    /* border: 1px solid blue; */
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}

.hovered {
    background-color: black;
}

#reset {
    background-color: green;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 20px;
    font-weight: bold;
    font-size: 36px;
    color: green;
}